@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-name {
  background: linear-gradient(
    to right,
    #8cb9bd,
    #ecb159,
    #b67352,
    #efbc9b,
    #fbf3d5,
    #8cb9bd,
    #ecb159,
    #b67352,
    #efbc9b,
    #fbf3d5
  );
  background-size: 300% 300%;
  background-clip: text;
}

html,
body {
  /* overflow-y: hidden; */
  height: 100%;
}
